[submodule "taproot-scripts"]
	path = taproot-scripts
	url = https://gitlab.com/aruw/controls/taproot-scripts.git
[submodule "LateralRoot"]
	path = LateralRoot
	url = https://github.com/GOFIRST-Robotics/LateralRoot.git
